<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "head.njk" %}
        {% if _site.env %}
            <!-- Capture the CSS content as a Nunjucks variable -->
            {% set css %}{% include "styles.min.css" %}{% endset %}
            <style>
                {{css | safe}}
            </style>
        {% else %}
            <link rel="stylesheet" href="/static/styles.min.css">
        {% endif %}

        <!-- Try and serve Google Fonts in the most efficent way possible -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preload" href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'"/>
        <noscript>
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto&display=swap" rel="stylesheet" type="text/css"/>
        </noscript>
    </head>
    <body>

        {% include "navbar.njk" %}
        <main>
        {{ content | safe }}
        </main>
        {% include "newsletter.njk" %}
        {% include "footer.njk" %}

    </body>
    <script src="/static/app.min.js" defer></script>
</html>