---
permalink: /humans.txt
---

/* TEAM */
	Name: {{ _site.author }}
	Site: {{ _site.url }}
{% if _site.meta_data.twitter %}Twitter: {{ _site.meta_data.twitter }}
{% endif %}

/* SITE */
	Doctype: HTML5