---
layout: base.njk
h1: Our Podcast Productions
p: Immersive, creative and funny audio drama productions for weirdos like you.
eleventyNavigation:
  key: Podcasts
  parent: Main
  order: 2
---

<main class="flex-grow">
  <div class="bg-white dark:bg-gray-900 container px-6 py-10 mx-auto">
    <div class="pb-10">
      <h1
        class="text-2xl font-semibold text-center text-gray-800 capitalize lg:text-3xl dark:text-white"
      >
        {{h1}}
      </h1>

      <p class="mt-4 text-center text-gray-500 dark:text-gray-300">{{p}}</p>
    </div>

    <div
      class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-12 md:grid-cols-2 xl:grid-cols-3 my-20"
    >
      {% for podcast in podcasts %}
      <a href="/podcasts/{{podcast.slug}}">
        <div
          class="overflow-hidden bg-cover rounded-lg cursor-pointer h-96 w-96 group"
          style="
              background-image: url('/static/images/{{podcast.slug}}.{{podcast.coverMIME}}');"
        >
          <div
            class="flex flex-col justify-center w-full h-full px-8 py-4 transition-opacity duration-700 opacity-0 backdrop-blur-sm bg-gray-800/60 group-hover:opacity-100"
          >
            <h2 class="mt-4 text-xl font-semibold text-white capitalize">
              {{podcast.title}}
            </h2>
            <p class="mt-2 text-sm tracking-wider text-blue-400 uppercase">
              {{podcast.genre}}
            </p>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</main>
